/TEST-de.tourenplaner.graphrep.HeapTest.txt
/TEST-de.tourenplaner.database.DatabaseManagerTest.txt
/TEST-de.tourenplaner.graphrep.GraphRepDumpReaderTest.txt
/TEST-de.tourenplaner.graphrep.GraphRepTextReaderTest.txt
/TEST-de.tourenplaner.graphrep.NNTest.txt
